### 서울시(부산시)의 구별 인구 및 CCTV 현황분석

- 적절한 설치 비율을 통계를 통해 시각화
- 평균이동선을 구현
- pandas 사용(기본 사용법)
- matplotlib.plt

In [1]:
import pandas as pd

In [2]:
# 데이터 로드
# 윈도우 경우 파일명이 한글이면 읽지 못하는 경우가 있다.
# 혹은 문서 인코딩이 달라서 못 읽는 경우도 있다.

s_cctv = pd.read_csv('./data/seoul_cctv.csv',encoding='utf-8')

In [3]:
# 데이터가 로드 되었으면 시작값과 끝값을 확인
s_cctv.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [4]:
s_cctv.tail()

    기관명    소계  2013년도 이전  2014년  2015년  2016년
20  용산구  2096       1368    218    112    398
21  은평구  2108       1138    224    278    468
22  종로구  1619        464    314    211    630
23   중구  1023        413    190     72    348
24  중랑구   916        509    121    177    109

In [5]:
s_cctv.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [6]:
# 컬럼명 : '2013년도 이전'
s_cctv.columns[2]

'2013년도 이전'

In [7]:
# 인덱스
s_cctv.index

RangeIndex(start=0, stop=25, step=1)

In [8]:
type(s_cctv)

pandas.core.frame.DataFrame

In [9]:
# 특정 인덱스
s_cctv.index[1]

1

In [10]:
# 컬럼명 : '기관명' => '자치구'
dic = {s_cctv.columns[0]:'자치구'}
s_cctv.rename(columns = dic, inplace = True)  # 사본 작업 but inplace = True 면 원본에 적용하라.
#reindex =>행 rename =>열

In [11]:
s_cctv.columns
s_cctv.head(1)

   자치구    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932

In [12]:
# 인구 현황 로드하기 s_pop

s_pop = pd.read_excel('./data/Report.xls',encoding='utf-8')

In [15]:
s_pop.head(20)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2018.2/4,합계,4241547,10089517,4935944,5153573,9814049,4802769,5011280,275468,133175,142293,2.31,1393671
3,2018.2/4,종로구,73655,163569,79522,84047,153780,75247,78533,9789,4275,5514,2.09,26512
4,2018.2/4,중구,61091,135427,66673,68754,126032,62260,63772,9395,4413,4982,2.06,21798
5,2018.2/4,용산구,108516,245245,119963,125282,229677,111078,118599,15568,8885,6683,2.12,37331
6,2018.2/4,성동구,135666,316068,155268,160800,308066,151571,156495,8002,3697,4305,2.27,42171
7,2018.2/4,광진구,161294,370519,179621,190898,355748,173216,182532,14771,6405,8366,2.21,44806
8,2018.2/4,동대문구,160757,364527,180126,184401,348903,174128,174775,15624,5998,9626,2.17,56675
9,2018.2/4,중랑구,179690,410296,203711,206585,405551,201803,203748,4745,1908,2837,2.26,60618
10,2018.2/4,성북구,186696,451829,218998,232831,440272,214430,225842,11557,4568,6989,2.36,67132
11,2018.2/4,강북구,143187,326063,159219,166844,322385,157769,164616,3678,1450,2228,2.25,57401
12,2018.2/4,도봉구,137560,344096,168282,175814,341928,167465,174463,2168,817,1351,2.49,54969
13,2018.2/4,노원구,217662,553177,268396,284781,549365,266826,282539,3812,1570,2242,2.52,75741
14,2018.2/4,은평구,203547,489045,236802,252243,484642,234905,249737,4403,1897,2506,2.38,76097
15,2018.2/4,서대문구,137725,323261,154145,169116,311280,150131,161149,11981,4014,7967,2.26,49935
16,2018.2/4,마포구,170788,385507,182627,202880,374691,178430,196261,10816,4197,6619,2.19,50350
17,2018.2/4,양천구,176234,471026,232087,238939,467151,230322,236829,3875,1765,2110,2.65,56742
18,2018.2/4,강서구,256560,606981,295221,311760,600257,291966,308291,6724,3255,3469,2.34,78042
19,2018.2/4,구로구,171882,440305,220880,219425,407235,202016,205219,33070,18864,14206,2.37,60564

- 컬럼쪽이 원데이터에서 셀 병합이 되어 있어서 불필요하게 2개가 더 들어갔다.
> 제거필요
- 데이터 중에 필요하지 않는 부분(남여구분, 기간 등은 필요 없다.)
- 총인구, 한국총인구수, 외국인 총 인구수, 64세이상 총 인구수, 자치구만 로드

In [16]:
# header = '몇번째 행부터 읽을 것인가?'
# usecols = '로드한 엑셀의 컬러명 열기'
s_pop = pd.read_excel('./data/Report.xls',encoding='utf-8',header = 2, usecols='B, D, G, J, N')

In [17]:
s_pop.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10089517  9814049  275468   1393671
1  종로구    163569   153780    9789     26512
2   중구    135427   126032    9395     21798
3  용산구    245245   229677   15568     37331
4  성동구    316068   308066    8002     42171

In [20]:
#계 = >인구수 1 => 한국인, 2 => 외국인, 65세아싱 고령자 => 고령자 컬럼명 변경
dic = {s_pop.columns[1]:'인구수',s_pop.columns[2]:'한국인',s_pop.columns[3]:'외국인',s_pop.columns[4]:'고령자'}
s_pop.rename(columns=dic,inplace=True)

### pandas 기초 학습 하기

In [21]:
# 데이터 확인
s_cctv.head(2)

   자치구    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377

In [22]:
s_pop.head(2)

   자치구       인구수      한국인     외국인      고령자
0   합계  10089517  9814049  275468  1393671
1  종로구    163569   153780    9789    26512

In [24]:
# s_cctv 데이터에서 소계 컬럼을 기준으로 오름차순 정렬
s_cctv.sort_values('소계').head(3)

   자치구   소계  2013년도 이전  2014년  2015년  2016년
9  도봉구  825        238    159     42    386
2  강북구  831        369    120    138    204
5  광진구  878        573     78     53    174

In [26]:
s_cctv.sort_values('소계',ascending=False).head(3)

    자치구    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  3238       1292    430    584    932
18  양천구  2482       1843    142     30    467
14  서초구  2297       1406    157    336    398

- cctv 집계수를 보고 여러 가설들이 발생될 수 있다.
- 해당 자치구의 주거 지역/상업지역/지하철(교통요인) 부분도 고려되면 좋겠다는 생각이 든다.
- 주거 지역은 cctv가 적고, 상업 지역은 많아보인다.
- 2013년도 이전 데이터 대비 3년간 증가된 cctv 수에 대한 증가율을 살펴볼 필요가 있다.
- 최근 3년간 증가율 = (2014+2015+2016) / 2013 * 100
- 최근 증가율이라는 컬럼명을 추가하시오.

In [29]:
s_cctv.columns

Index(['자치구', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [30]:
s_cctv['최근 증가율'] = (s_cctv['2014년']+s_cctv['2015년']+s_cctv['2016년'])/s_cctv['2013년도 이전']

In [32]:
s_cctv['최근 증가율']= s_cctv['최근 증가율']*100

In [39]:
s_cctv.rename({'최근 증가율':'최근 증가율(%)'},axis = 1, inplace=True)

In [40]:
s_cctv

     자치구    소계  2013년도 이전  2014년  2015년  2016년   최근 증가율(%)
0    강남구  3238       1292    430    584    932  150.619195
1    강동구  1010        379     99    155    377  166.490765
2    강북구   831        369    120    138    204  125.203252
3    강서구   911        388    258    184     81  134.793814
4    관악구  2109        846    260    390    613  149.290780
5    광진구   878        573     78     53    174   53.228621
6    구로구  1884       1142    173    246    323   64.973730
7    금천구  1348        674     51    269    354  100.000000
8    노원구  1566        542     57    451    516  188.929889
9    도봉구   825        238    159     42    386  246.638655
10  동대문구  1870       1070     23    198    579   74.766355
11   동작구  1302        544    341    103    314  139.338235
12   마포구   980        314    118    169    379  212.101911
13  서대문구  1254        844     50     68    292   48.578199
14   서초구  2297       1406    157    336    398   63.371266
15   성동구  1327        730     91    241    265   81.780822
16   성북구  1651       1009     78    360    204   63.627354
17   송파구  1081        529     21     68    463  104.347826
18   양천구  2482       1843    142     30    467   34.671731
19  영등포구  1277        495    214    195    373  157.979798
20   용산구  2096       1368    218    112    398   53.216374
21   은평구  2108       1138    224    278    468   85.237258
22   종로구  1619        464    314    211    630  248.922414
23    중구  1023        413    190     72    348  147.699758
24   중랑구   916        509    121    177    109   79.960707